
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Garante que o servidor envie o cabeçalho correto para arquivos TypeScript/React
<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType application/javascript .jsx
  AddType application/javascript .ts
  AddType application/javascript .tsx
</IfModule>
